.odd_1, .odd_2, .odd_3{background-color: lightpink;
    font-family: 'Verdana', sans-serif;
    }

.even_1{color: blue;
    font-size: 36px;
}

.odd_2{font-size: 24px;

}

.even_2{background-color: lightgreen;
    font-size: 24px;
    font-weight: 800;
}